<template>
	<div>
		<section class="page-section bg-primary" id="about">
			<div class="container px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-lg-8 text-center">
						<h2 class="text-white mt-0">We've got what you need!</h2>
						<hr class="divider divider-light"/>
						<p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and running
						                              in no time! Choose one of our open source, free to download, and easy to use
						                              themes! No strings attached!
						</p>
						<a class="btn btn-light btn-xl" href="#services">Get Started!</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>

	export default {
		name: 'about',
		data: {
			title: 'About',
		},

	};
</script>