<template>
	<div>
		<div id="portfolio" class="page-section">
			<div class="container-fluid p-0 pt-3">
				<h2 class="text-center mt-0">Our Portfolio</h2>
				<div class="row g-0">
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="images/portfolio/fullsize/1.jpg" title="Project Name">
							<img class="img-fluid" src="images/portfolio/thumbnails/1.jpg" alt="..."/>
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">Category</div>
								<div class="project-name">Project Name</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="images/portfolio/fullsize/2.jpg" title="Project Name">
							<img class="img-fluid" src="images/portfolio/thumbnails/2.jpg" alt="..."/>
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">Category</div>
								<div class="project-name">Project Name</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="images/portfolio/fullsize/3.jpg" title="Project Name">
							<img class="img-fluid" src="images/portfolio/thumbnails/3.jpg" alt="..."/>
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">Category</div>
								<div class="project-name">Project Name</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="images/portfolio/fullsize/4.jpg" title="Project Name">
							<img class="img-fluid" src="images/portfolio/thumbnails/4.jpg" alt="..."/>
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">Category</div>
								<div class="project-name">Project Name</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="images/portfolio/fullsize/5.jpg" title="Project Name">
							<img class="img-fluid" src="images/portfolio/thumbnails/5.jpg" alt="..."/>
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">Category</div>
								<div class="project-name">Project Name</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-sm-6">
						<a class="portfolio-box" href="images/portfolio/fullsize/6.jpg" title="Project Name">
							<img class="img-fluid" src="images/portfolio/thumbnails/6.jpg" alt="..."/>
							<div class="portfolio-box-caption p-3">
								<div class="project-category text-white-50">Category</div>
								<div class="project-name">Project Name</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
